@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Poppins:wght@900&display=swap");

.example2 {
	 font-size: 100px;
	 margin-bottom: 10px;
	 height: 250px;	
 	overflow: hidden;

}
.example2  h3 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin-bottom: 0;
 line-height: 40px;
 text-align: left;

 /* Apply animation to this element */	
 animation: example2 3s ease-out;
}
/* Move it (define the animation) */
@keyframes example2 {
 0%   { 
 transform: translateY(100%); 		
 }
 100% { 
 transform: translateY(5%); 
 }
}

.year {
font-size: 100px ;
bposition: absolute;
top: 100%; 
}

